/*PARA QUE NO DESBORDE*/
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }


/*ELEMENTOS DEL MODAL*/
    .modal-background{
        background-image: url("../Images/images-p1/fondomayoredad.jpg");
        background-size: cover;
        position: fixed;
        width: 100%;
        height: 100%;
        background-position: center;
        z-index: 9999;
    }

    .modal-body{
        padding:10rem;
        margin-top: 5rem;
    }

    #boton-modal{
        padding: 10px;
        justify-content: center;
    }

    #boton-redondo-si,#boton-redondo-no{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;
    }

    .boton-modal-no{
        text-decoration: none;
        color: red;
    }

        /*INTENTO DE ANIMACIÓN PARA DESVANECER (lo hace rápido)*/
        .modal-fade{
            transition: opacity 0.3s ease-in-out;
        }

/*NAVBAR*/
    .nav-item{
        text-align: center;
    }

    #elementos-navbar{
        margin-left: 4rem;
        margin-right: 4rem;
        font-size: 20px;
    }

    .navbar-brand{
        margin-left: 10px;
    }

    #logo-navbar{
        width: 70px;
        height: 70px;
    }


/*PRIMER APARTADO*/
    .apartado1{
        background-image:url(../Images/images-p1/fondo\ barda.jpg);
        background-size: cover;
        width: 100%;
        height: 700px;
        background-position: center;
        padding-left: 12rem;
        padding-top: 21rem;
        border-bottom: 10px rgb(255, 110, 6) solid;
    }

    #columna-texto-mueve{
        border: 6px solid white;
        border-radius: 30px;
        background-color: white;
    }
    

    #typed-text{
        color: #000000;
        font-size: 30px;
        border-color: white;
    }

    .typed-cursor {
        font-size: 35px;
    }

            @media (max-width: 1024px) {
                #typed-text{
                    font-size: 20px;
                }
                .typed-cursor {
                    font-size: 25px;
                }
                .apartado1{
                    padding-left: 10rem;
                    padding-top: 18rem;
                    height: 600px;
                    width: 100%;
                }
            }
            @media (max-width: 800px) {
                #typed-text{
                    font-size: 16px;
                }
                .typed-cursor {
                    font-size: 18px;
                }
                .apartado1{
                    padding-left: 8rem;
                    padding-top: 15rem;
                    height: 500px;
                    width: 100%;
                    background-position: right center;
                }
            }
            @media (max-width: 576px) {
                #typed-text{
                    font-size: 14px;
                }
                .typed-cursor {
                    font-size: 16px;
                }
                .apartado1{
                    padding-left: 6rem;
                    padding-top: 10rem;
                    height: 400px;
                    width: 100%;
                    background-position: right center;
                }
            }

/*SEGUNDO APARTADO*/
    .apartado-2{
        background-image: url(../Images/images-p1/fondo\ apartado2.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
        background-position: center;
    }

    #columna{
        padding: 5rem;
    }

    #textocolumna{
        color: #000000;
        font-family:  'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
    }

    .titulosapartado2{
        font-family: "DUST", sans-serif;
        font-size: 170px;
        color: black;
    }

                /*TIPOGRAFÍA EXTERNA*/
                    @font-face {
                        font-family:"DUST";
                        src: url(../fonts/DustWest.otf) format("opentype");  
                        font-weight: normal;
                        font-style: normal;
                    }
                            /*LO QUE HAY QUE PONER PARA USARLA*/
                                    /*
                                    .pruebadetipografía{
                                        font-family: "DUST", sans-serif;
                                    }*/

                                    @font-face {
                                        font-family:"AMARILLO";
                                        src: url(../fonts/Amarillo.otf) format("opentype");  
                                        font-weight: normal;
                                        font-style: normal;
                                    }

    .subtitulosapartado2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 65px;
        color: rgb(255, 106, 0);
    }

    @media (max-width: 1024px) {
        .titulosapartado2 {
            font-size: 100px;
        }
        .subtitulosapartado2 {
            font-size: 37px;
        }
        .textocolumna{
            font-size: 18px;
        }
    }
    
    @media (max-width: 800px) {
        .titulosapartado2 {
            font-size: 70px;
        }
        .subtitulosapartado2 {
            font-size: 30px;
        }
        .textocolumna{
            font-size: 16px;
        }
    }

    @media (max-width: 576px) {
        .titulosapartado2 {
            font-size: 60px;
        }
        .subtitulosapartado2 {
            font-size: 25px;
        }
        .textocolumna{
            font-size: 12px;
        }
    }


/*TERCER APARTADO*/
    .apartado3{
        padding: 2rem;
        background-color: #000000;
    }
    #filasIm{
        margin: 1rem;
    }
    .overlay-text{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: antiquewhite;
        opacity: 0;
        transition: opacity 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .titulo-aparece{
        margin-bottom: 8px;
        font-size: 40px;
    }

    .corrido-aparece{
        margin-bottom: 0px;
        margin-left: 20%;
        margin-right: 20%;
        font-size: 20px;
    }

    .titulo-aparece2{
        margin-bottom: 8px;
        font-size: 40px;
    }

    .corrido-aparece2{
        margin-bottom: 0px;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 20px;
    }

    .titulo-aparece3{
        margin-bottom: 8px;
        font-size: 40px;
    }

    .corrido-aparece3{
        margin-bottom: 0px;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 20px;
    }

            @media (max-width: 1024px) {
                .corrido-aparece {
                    font-size: 18px;
                    margin-left: 15%;
                    margin-right: 15%;
                }
                .titulo-aparece {
                    font-size: 25px;
                }
                .corrido-aparece2 {
                    font-size: 18px;
                    margin-left: 10%;
                    margin-right: 10%;
                }
                .titulo-aparece2 {
                    font-size: 25px;
                }
                .corrido-aparece3{
                    font-size: 18px;
                    margin-left: 5%;
                    margin-right: 5%;
                }
                .titulo-aparece3 {
                    font-size: 25px;
                }
            }
            @media (max-width: 800px) {
                .corrido-aparece {
                    font-size: 12px;
                    margin-left: 2%;
                    margin-right: 2%;
                }
                .titulo-aparece {
                    font-size: 18px;
                }
                .corrido-aparece2 {
                    font-size: 12px;
                    margin-left: 2%;
                    margin-right: 2%;
                }
                .titulo-aparece2 {
                    font-size: 18px;
                }
                .corrido-aparece3{
                    font-size: 12px;
                    margin-left: 2%;
                    margin-right: 2%;
                }
                .titulo-aparece3 {
                    font-size: 18px;
                }
            }

            @media (max-width: 576px) {
                .corrido-aparece {
                    font-size: 10px;
                    margin-left: 1%;
                    margin-right: 1%;
                }
                .titulo-aparece {
                    font-size: 14px;
                }
                .corrido-aparece2 {
                    font-size: 10px;
                    margin-left: 1%;
                    margin-right: 1%;
                }
                .titulo-aparece2 {
                    font-size: 14px;
                }
                .corrido-aparece3{
                    font-size: 10px;
                    margin-left: 1%;
                    margin-right: 1%;
                }
                .titulo-aparece3 {
                    font-size: 14px;
                }
            }

        /*HOVER PARA QUE CUANDO PASAS EL RATÓN POR ENCIMA APAREZCA EL MARCO*/
            .hover-img{
                transition: border 0.3s ease;
                border: none;
            }
            .hover-img:hover{
                border: 6px solid white;
            }

            .position-relative:hover .overlay-text{
                opacity: 1;
                border: 6px solid white;
                border-radius: 10px;
            }





            .carousel-item img {
                width: 100%;
                height: 700px;
                object-fit: cover;
              }
              .carousel-caption {
                position: absolute;
                top: 10%;
                left: 5%;
                text-align: left;
                color: white;
                border-radius: 5px;
              }
                #titulocarrusel{
                    font-family: "DUST", sans-serif;
                    font-size: 250px;
                    color: black;
                }
                #parrafocarrusel{
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
                    font-size: 24px;
                    color: black;
                    margin-top: -1rem;
                    
                }
                .carrusel{
                    border-bottom: 15px coral solid;
                    border-top:15px coral solid;
                    
                }
                #pretitulocarrusel{
                    font-family: 'Amarillo', 'Arial Narrow', Arial, sans-serif;
                    font-size: 70px;
                    font-weight: bold;
                    color: rgb(255, 98, 0);
                }

                @media (max-width: 1024px) {
                    #titulocarrusel{
                        font-size: 150px;
                    }
                    #parrafocarrusel{
                        font-size: 20px;
                    }
                    #pretitulocarrusel{
                        font-size: 60px;
                    }
                    .boton-enlace{
                        font-size: 22px !important;
                        padding: 18px !important;
                    }
                    .carousel-item img {
                        width: 100%;
                        height: 580px;
                }
                }
                @media (max-width: 800px) {
                    #titulocarrusel{
                        font-size: 100px;
                    }
                    #parrafocarrusel{
                        font-size: 16px;
                    }
                    #pretitulocarrusel{
                        font-size: 40px;
                    }
                    .boton-enlace{
                        font-size: 18px !important;
                        padding: 14px !important;
                    }
                    .carousel-item img {
                        width: 100%;
                        height: 420px;
                    }
                }
                @media (max-width: 576px) {
                    #titulocarrusel{
                        font-size: 80px;
                    }
                    #parrafocarrusel{
                        font-size: 12px;
                    }
                    #pretitulocarrusel{
                        font-size: 30px;
                    }
                    .boton-enlace{
                        font-size: 14px !important;
                        padding: 10px !important;
                    }
                    .carousel-item img {
                        width: 100%;
                        height: 350px;
                    }
                }







 /* Estilos para el botón */
 .boton-enlace {
    display: inline-block;
    padding: 20px;
    background-color:rgb(255, 98, 0);
    color: white;
    text-decoration: none;  
    border-radius: 85px;    
    text-align: center;
    font-size: 30px;
    transition: background-color 0.3s, transform 0.2s;  
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 9rem;
    margin-top: 2rem;
  }

  /* Cambio de color al pasar el raton */
  .boton-enlace:hover {
    background-color: #583700;  
    transform: scale(1.1);  
  }

  .footer{
    background-color: black;
    color: white;
    margin-top: 1rem;
    }