/*ELEMENTOS DEL MODAL*/
    .modal-background{
        background-image: url("fondomayoredad.jpg");
        background-size: cover;
        position: fixed;
        width: 100%;
        height: 100%;
        background-position: center;
        z-index: 9999;
    }

    .modal-body{
        padding:10rem;
        margin-top: 5rem;
    }

    #boton-modal{
        padding: 10px;
        justify-content: center;
    }

    #boton-redondo-si,#boton-redondo-no{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;
    }

        /*INTENTO DE ANIMACIÓN PARA DESVANECER (lo hace rápido)*/
        .modal-fade{
            transition: opacity 0.3s ease-in-out;
        }

/*NAVBAR*/
    .nav-item{
        text-align: center;
    }

    #elementos-navbar{
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .navbar-brand{
        margin-left: 10px;
    }

/*PRIMER APARTADO*/
.apartado1{
    background-image:url(fondo\ barda.jpg);
        background-size: cover;
        width: 100%;
        height: 700px;
        background-position: center;
        z-index: 9999;;
}

/*SEGUNDO APARTADO*/
    .apartado-2{
        background-image:url(fondo\ apartado2.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
        background-position: center;
        z-index: 9999;;
    }

    #columna{
        padding: 5rem;
    }

    #textocolumna{
        color: #000000;
        margin-top: 10px;
        font-family:  'Arial Narrow', Arial, sans-serif;
        font: size 60px; ;
    }
    .titulosapartado2{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 120px;
    }
        @font-face {
            font-family:"DUST";
            src:url(Dust West.otf);
            font-weight: normal;
        }
        .subtitulosapartado2{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size:80px ;color: rgb(255, 115, 0);
            margin-top: ;
        }
        carrusel
        .carousel-item img{
height: 70px;
width: 100%;
        }