/*ELEMENTOS DEL MODAL*/
    .modal-background{
        background-image: url("fondomayoredad.jpg");
        background-size: cover;
        position: fixed;
        width: 100%;
        height: 100%;
        background-position: center;
        z-index: 9999;
    }

    .modal-body{
        padding:10rem;
        margin-top: 5rem;
    }

    #boton-modal{
        padding: 10px;
        justify-content: center;
    }

    #boton-redondo-si,#boton-redondo-no{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;
    }

        /*INTENTO DE ANIMACIÓN PARA DESVANECER (lo hace rápido)*/
        .modal-fade{
            transition: opacity 0.3s ease-in-out;
        }

/*NAVBAR*/
    .nav-item{
        text-align: center;
    }

    #elementos-navbar{
        margin-left: 4rem;
        margin-right: 4rem;
        font-size: 20px;
    }

    .navbar-brand{
        margin-left: 10px;
    }


/*PRIMER APARTADO*/
    .apartado1{
        background-image:url(fondo\ barda.jpg);
        background-size: cover;
        width: 100%;
        height: 700px;
        background-position: center;
        padding-left: 12rem;
        padding-top: 21rem;
    }

    #columna-texto-mueve{
        border: 6px solid white;
        border-radius: 30px;
        background-color: white;
    }
    

    #typed-text{
        color: #000000;
        font-size: 30px;
        border-color: white;
    }

    .typed-cursor {
        font-size: 35px;
    }

/*SEGUNDO APARTADO*/
    .apartado-2{
        background-image: url(fondo\ apartado2.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
        background-position: center;
    }

    #columna{
        padding: 5rem;
    }

    #textocolumna{
        color: #000000;
        font-family:  'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
    }

    .titulosapartado2{
        font-family: "DUST", sans-serif;
        font-size: 150px;
    }

                /*TIPOGRAFÍA EXTERNA*/
                    @font-face {
                        font-family:"DUST";
                        src: url(fuentes/DustWest.otf) format("opentype");  
                        font-weight: normal;
                        font-style: normal;
                    }
                            /*LO QUE HAY QUE PONER PARA USARLA*/
                                    /*
                                    .pruebadetipografía{
                                        font-family: "DUST", sans-serif;
                                    }*/

                                    @font-face {
                                        font-family:"AMARILLO";
                                        src: url(fuentes/Amarillo.otf) format("opentype");  
                                        font-weight: normal;
                                        font-style: normal;
                                    }

    .subtitulosapartado2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 70px;
        color: rgb(255, 115, 0);
    }

    @media (max-width: 800px) {
        .titulosapartado2 {
            font-size: 65px;
        }
        .subtitulosapartado2 {
            font-size: 45px;
        }
        .textocolumna{
            font-size: 14px;
        }
    }
    
    @media (max-width: 576px) {
        .titulosapartado2 {
            font-size: 35px;
        }
        .subtitulosapartado2 {
            font-size: 25px;
        }
        .textocolumna{
            font-size: 10px;
        }
    }


/*TERCER APARTADO*/
    .apartado3{
        padding: 2rem;
        background-color: #000000;
    }
    #filasIm{
        margin: 1rem;
    }
    .overlay-text{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: antiquewhite;
        opacity: 0;
        transition: opacity 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .titulo-aparece{
        margin-bottom: 8px;
        font-size: 40px;
    }

    .corrido-aparece{
        margin-bottom: 0px;
        margin-left: 20%;
        margin-right: 20%;
        font-size: 20px;
    }

    .titulo-aparece2{
        margin-bottom: 8px;
        font-size: 40px;
    }

    .corrido-aparece2{
        margin-bottom: 0px;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 20px;
    }

    .titulo-aparece3{
        margin-bottom: 8px;
        font-size: 40px;
    }

    .corrido-aparece3{
        margin-bottom: 0px;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 20px;
    }

            @media (max-width: 800px) {
                .corrido-aparece {
                    font-size: 15px;
                    margin-left: 15%;
                    margin-right: 15%;
                }
                .titulo-aparece {
                    font-size: 25px;
                }
                .corrido-aparece2 {
                    font-size: 15px;
                    margin-left: 8%;
                    margin-right: 8%;
                }
                .titulo-aparece2 {
                    font-size: 25px;
                }
                .corrido-aparece3{
                    font-size: 15px;
                    margin-left: 2%;
                    margin-right: 2%;
                }
                .titulo-aparece3 {
                    font-size: 25px;
                }
            }
            @media (max-width: 576px) {
                .corrido-aparece {
                    font-size: 8px;
                    margin-left: 10%;
                    margin-right: 10%;
                }
                .titulo-aparece {
                    font-size: 15px;
                }
                .corrido-aparece2 {
                    font-size: 8px;
                    margin-left: 5%;
                    margin-right: 5%;
                }
                .titulo-aparece2 {
                    font-size: 15px;
                }
                .corrido-aparece3{
                    font-size: 8px;
                    margin-left: 1%;
                    margin-right: 1%;
                }
                .titulo-aparece3 {
                    font-size: 15px;
                }
            }
            
            





        /*HOVER PARA QUE CUANDO PASAS EL RATÓN POR ENCIMA APAREZCA EL MARCO*/
            .hover-img{
                transition: border 0.3s ease;
                border: none;
            }
            .hover-img:hover{
                border: 6px solid white;
            }

            .position-relative:hover .overlay-text{
                opacity: 1;
                border: 6px solid white;
                border-radius: 10px;
            }