/*ELEMENTOS DEL MODAL*/
    .modal-background{
        background-image: url("fondomayoredad.jpg");
        background-size: cover;
        position: fixed;
        width: 100%;
        height: 100%;
        background-position: center;
        z-index: 9999;
    }

    .modal-body{
        padding:10rem;
        margin-top: 5rem;
    }

    #boton-modal{
        padding: 10px;
        justify-content: center;
    }

    #boton-redondo-si,#boton-redondo-no{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;
    }

        /*INTENTO DE ANIMACIÓN PARA DESVANECER (lo hace rápido)*/
        .modal-fade{
            transition: opacity 0.3s ease-in-out;
        }

/*NAVBAR*/
    .nav-item{
        text-align: center;
    }

    #elementos-navbar{
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .navbar-brand{
        margin-left: 10px;
    }
    