/*ELEMENTOS DEL MODAL*/
    .modal-background{
        background-image: url("fondomayoredad.jpg");
        background-size: cover;
        position: fixed;
        width: 100%;
        height: 100%;
        background-position: center;
        z-index: 9999;
    }

    .modal-body{
        padding:10rem;
        margin-top: 5rem;
    }

    #boton-modal{
        padding: 10px;
        justify-content: center;
    }

    #boton-redondo-si,#boton-redondo-no{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;
    }

        /*INTENTO DE ANIMACIÓN PARA DESVANECER (lo hace rápido)*/
        .modal-fade{
            transition: opacity 0.3s ease-in-out;
        }

/*NAVBAR*/
    .nav-item{
        text-align: center;
    }

    #elementos-navbar{
        margin-left: 4rem;
        margin-right: 4rem;
        font-size: 20px;
    }

    .navbar-brand{
        margin-left: 10px;
    }


/*PRIMER APARTADO*/
    .apartado1{
        background-image:url(fondo\ barda.jpg);
        background-size: cover;
        width: 100%;
        height: 700px;
        background-position: center;
        padding-left: 12rem;
        padding-top: 21rem;
    }

    #columna-texto-mueve{
        border: 6px solid white;
        border-radius: 30px;
        background-color: white;
    }
    

    #typed-text{
        color: #000000;
        font-size: 30px;
        border-color: white;
    }

    .typed-cursor {
        font-size: 35px;
    }

/*SEGUNDO APARTADO*/
    .apartado-2{
        background-image: url(fondo\ apartado2.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
        background-position: center;
    }

    #columna{
        padding: 5rem;
    }

    #textocolumna{
        color: #000000;
        font-family:  'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
    }

    .titulosapartado2{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 120px;
    }

                /*TIPOGRAFÍA EXTERNA*/
                    @font-face {
                        font-family:"DUST";
                        src: url(fuentes/DustWest.otf) format("opentype");  
                        font-weight: normal;
                        font-style: normal;
                    }
                            /*LO QUE HAY QUE PONER PARA USARLA*/
                                    /*
                                    .pruebadetipografía{
                                        font-family: "DUST", sans-serif;
                                    }*/

                                    @font-face {
                                        font-family:"AMARILLO";
                                        src: url(fuentes/Amarillo.otf) format("opentype");  
                                        font-weight: normal;
                                        font-style: normal;
                                    }

    .subtitulosapartado2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 80px;
        color: rgb(255, 115, 0);
    }

    @media (max-width: 800px) {
        .titulosapartado2 {
            font-size: 65px;
        }
        .subtitulosapartado2 {
            font-size: 45px;
        }
        .textocolumna{
            font-size: 14px;
        }
    }
    
    @media (max-width: 576px) {
        .titulosapartado2 {
            font-size: 35px;
        }
        .subtitulosapartado2 {
            font-size: 25px;
        }
        .textocolumna{
            font-size: 10px;
        }
    }


    /*TERCER APARTADO*/
        .apartado3{
            padding: 2rem;
            background-color: #000000;
        }
        #filasIm{
            margin: 1rem;
        }

        /*HOVER PARA QUE CUANDO PASAS EL RATÓN POR ENCIMA APAREZCA EL MARCO*/
            .hover-img{
                transition: border 0.3s ease;
            }
            .hover-img:hover{
                border: 6px solid white;
            }


    
    /*CARRUSEL*/
        .carousel-item img{
            height: 30rem;
            width: auto;
            max-width: 100%;
            object-fit: cover;
        }
        .carousel-inner{
            height: 30rem;
            width: 100%;
        }
        #imgcarrusel{
            padding-left: 50px;
            padding-right: 50px;
        }

 /*PAGINA2*/
         .fondopagina2{
background-image: url(fondo\ pag2.jpg);
        }
        /* APARTADO1*/
        .content-section {
            padding-right: 15px;
          }
          .sticky-container {
            display: flex;
            flex-wrap: wrap;
          }
        
          .sticky-image {
            position: sticky;
            top: 0; 
            right: 0; 
            width: 100%; 
            max-width: 400px; 
          }
          
        
                
            
            .tituloapartado1pag2{
                font-family: "DUST", sans-serif; color: rgb(245, 110, 14);
                margin-top: 7rem;
                font-size: 130px ;
                margin-left: 4rem;
            }
            .subtituloapartado1pag2{
                font-family: "AMARILLO", sans-serif; color: rgb(255, 255, 255);
               font-size: 100px;
               margin-top: -3rem;
            }
            .parrafoapartado1pag2{
                font-family: Verdana, Geneva, Tahoma, sans-serif; 
                font-size: 17px; color: white;
                padding: 10px 50PX 10px; font-weight: lighter;
                text-align: center;

            }
            .tituloapartado1pag2tipo2{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
color: white;margin-top: 5rem; font-size: 50px;

            }
            .subtituloapartado1pag2tipo2{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
color: rgb(245, 110, 14);margin-top: -1rem; font-size: 70px; 
            }
            .img-fluid {
                width: 500px ;
                height: 270px;
                margin-top: 10px;
                margin-bottom: 30px;
                
            }

          /* APARTADO2*/
.fondo-responsive {
    background-image: url('fondocervezas.jpg'); 
    background-position: center center; 
    height: 600px;
  }
  

  .img-fluid2  {
    width: 130px; 
    height: auto; 
  }
  
  .col-12 {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
  }
  .fade-on-hover {
    transition: opacity 0.5s ease, transform 0.5s ease; 
  }
  
  
  .fade-on-hover:hover {
    opacity: 0; 
    transform: translateY(10px); 
  }
            /* APARTADO3*/

  .apartado3{
    background-color: white;
    height: 300px;
  }
  .logomons{
    width: 500px;
  }
             
            /* APARTADO4*/

  .apartado4{
    background-image: url(fondo\ pag2.jpg);border: 6px solid coral;

  }
  #carouselExample2 .carousel-item img {
    object-fit: contain; 
    height: 450px; /
    width: 100%; 
    
  }
  
  #carouselExample2 .carousel-control-prev-icon,
  #carouselExample2 .carousel-control-next-icon {
    background-color: black; 
  }
  
  @media (max-width: 768px) {
    #carouselExample2 .carousel-item img {
      height: 250px; 
    }
  }
#carousel-text2{
    font-family: "DUST", sans-serif; color: rgb(255, 255, 255);
    font-size: 150px;
   text-align: left;
   margin-top: -7rem;
   padding: 0px 30px 0px;

}  
#carousel-description2{
    text-align: left;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding: 0px 30px 0px;
}