/*MODAL CARGA ANIMACIÓN*/
    .modal-carga{
        z-index: 9999;
        margin: 0;
        padding: 0;
    }

    

    .modal-body{
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh; /*Para que ocupe toda la pantalla*/
        padding: 0;
        margin: 0;
    }

    .contenedor{    
        background-color: #946234;
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ani-cerveza{
        position: relative;
        background-color: #eca24d;
        width: 100%;
        height: 100%;
        outline: 0;    
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .ani-cerveza::before {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ani-cerveza::after{
        content: "";
        position: absolute;    
        background-color: #946234;    
        height: 2300px;
        width: 3000px;
        bottom: -50%;
        left: -50%;
        border-radius: 40%;
        animation: spin 10s ease-out infinite;
    }


    @keyframes spin {
        0% {
            transform: translateY(0) rotate(0deg);
        }
        100%{
            transform: translateY(-85%) rotate(-500deg);
        }
    }


/*PAGINA2*/
    .fondopagina2{
        background-image: url(fondo\ pag2.jpg);
}



/* APARTADO1*/
    .content-section {
        padding-right: 15px;
    }

    .sticky-container {
        display: flex;
        flex-wrap: wrap;
    }

    .sticky-image {
        position: sticky;
        top: 0; 
        right: 0; 
        width: 100%; 
        max-width: 400px; 
    }
    
    .tituloapartado1pag2{
        font-family: "DUST", sans-serif; color: rgb(245, 110, 14);
        margin-top: 7rem;
        font-size: 130px ;
        margin-left: 4rem;
    }

    .subtituloapartado1pag2{
        font-family: "AMARILLO", sans-serif; color: rgb(255, 255, 255);
       font-size: 100px;
       margin-top: -3rem;
    }

    .parrafoapartado1pag2{
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        font-size: 17px; color: white;
        padding: 10px 50PX 10px; font-weight: lighter;
        text-align: center;
    }

    .tituloapartado1pag2tipo2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        color: white;margin-top: 5rem; font-size: 50px;
    }

    .subtituloapartado1pag2tipo2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        color: rgb(245, 110, 14);margin-top: -1rem; font-size: 70px; 
    }

    .img-fluid {
        width: 500px ;
        height: 270px;
        margin-top: 10px;
        margin-bottom: 30px;
    }




/* APARTADO2*/
    .fondo-responsive {
        background-image: url('fondocervezas.jpg'); 
        background-position: center center; 
        height: 600px;
    }

    .img-fluid2  {
        width: 130px; 
        height: auto; 
    }

    .col-12 {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        height: 100%; 
    }

    .fade-on-hover {
        transition: opacity 0.5s ease, transform 0.5s ease; 
    }

    .fade-on-hover:hover {
        opacity: 0; 
        transform: translateY(10px); 
    }



/* APARTADO3*/
    .apartado3.2{
        background-color: white;
        height: 300px;
    }

    .logomons{
        width: 500px;
    }
     


/* APARTADO4*/
    .apartado4{
        background-image: url(fondo\ pag2.jpg);border: 6px solid coral;
    }

    #carouselExample2 .carousel-item img {
        object-fit: contain; 
        height: 450px;
        width: 100%; 
    }

    #carouselExample2 .carousel-control-prev-icon, #carouselExample2 .carousel-control-next-icon {
        background-color: black; 
    }

    @media (max-width: 768px) {
        #carouselExample2 .carousel-item img {
        height: 250px; 
        }
    }

    #carousel-text2{
        font-family: "DUST", sans-serif; color: rgb(255, 255, 255);
        font-size: 150px;
        text-align: left;
        margin-top: -7rem;
        padding: 0px 30px 0px;
    }

    #carousel-description2{
        text-align: left;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        padding: 0px 30px 0px;
    }



/*TIPOGRAFÍA EXTERNA*/
@font-face {
    font-family:"DUST";
    src: url(fuentes/DustWest.otf) format("opentype");  
    font-weight: normal;
    font-style: normal;
}
        /*LO QUE HAY QUE PONER PARA USARLA*/
                /*
                .pruebadetipografía{
                    font-family: "DUST", sans-serif;
                }*/

                @font-face {
                    font-family:"AMARILLO";
                    src: url(fuentes/Amarillo.otf) format("opentype");  
                    font-weight: normal;
                    font-style: normal;
                }