/*ELEMENTOS DEL MODAL*/
    .modal-background{
        background-image: url("fondomayoredad.jpg");
        background-size: cover;
        position: fixed;
        width: 100%;
        height: 100%;
        background-position: center;
        z-index: 9999;
    }

    .modal-body{
        padding:10rem;
        margin-top: 5rem;
    }

    #boton-modal{
        padding: 10px;
        justify-content: center;
    }

    #boton-redondo-si,#boton-redondo-no{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;
    }

        /*INTENTO DE ANIMACIÓN PARA DESVANECER (lo hace rápido)*/
        .modal-fade{
            transition: opacity 0.3s ease-in-out;
        }

/*NAVBAR*/
    .nav-item{
        text-align: center;
    }

    #elementos-navbar{
        margin-left: 4rem;
        margin-right: 4rem;
        font-size: 20px;
    }

    .navbar-brand{
        margin-left: 10px;
    }


/*PRIMER APARTADO*/
    .apartado1{
        background-image:url(fondo\ barda.jpg);
        background-size: cover;
        width: 100%;
        height: 700px;
        background-position: center;
    }

    #text-movi{
        padding-left: 15rem;
        padding-top: 15rem;
        color: antiquewhite;
    }

/*SEGUNDO APARTADO*/
    .apartado-2{
        background-image: url(fondo\ apartado2.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
        background-position: center;
    }

    #columna{
        padding: 5rem;
    }

    #textocolumna{
        color: #000000;
        font-family:  'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
    }

    .titulosapartado2{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 120px;
    }

                /*TIPOGRAFÍA EXTERNA*/
                    @font-face {
                        font-family:"DUST";
                        src: url(fuentes/DustWest.otf) format("opentype");  
                        font-weight: normal;
                        font-style: normal;
                    }
                            /*LO QUE HAY QUE PONER PARA USARLA*/
                                    /*
                                    .pruebadetipografía{
                                        font-family: "DUST", sans-serif;
                                    }*/

                                    @font-face {
                                        font-family:"AMARILLO";
                                        src: url(fuentes/Amarillo.otf) format("opentype");  
                                        font-weight: normal;
                                        font-style: normal;
                                    }

    .subtitulosapartado2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 80px;
        color: rgb(255, 115, 0);
    }

    @media (max-width: 800px) {
        .titulosapartado2 {
            font-size: 65px;
        }
        .subtitulosapartado2 {
            font-size: 45px;
        }
        .textocolumna{
            font-size: 14px;
        }
    }
    
    @media (max-width: 576px) {
        .titulosapartado2 {
            font-size: 35px;
        }
        .subtitulosapartado2 {
            font-size: 25px;
        }
        .textocolumna{
            font-size: 10px;
        }
    }


    /*TERCER APARTADO*/
        .apartado3{
            padding: 2rem;
            background-color: #000000;
        }
        #filasIm{
            margin: 1rem;
        }

        /*HOVER PARA QUE CUANDO PASAS EL RATÓN POR ENCIMA APAREZCA EL MARCO*/
            .hover-img{
                transition: border 0.3s ease;
            }
            .hover-img:hover{
                border: 6px solid white;
            }


    
    /*CARRUSEL*/
        .carousel-item img{
            height: 30rem;
            width: auto;
            max-width: 100%;
            object-fit: cover;
            background-color: #000000;
        }
        .carousel-inner{
            height: 30rem;
            width: 100%;
        }
        #imgcarrusel{
            padding-left: 50px;
            padding-right: 50px;
        }

 /*PAGINA2*/
         .fondopagina2{
background-image opacity: 50%;: url(fondo\ pag2.jpg);
background-color: black;
        }
        .content-section {
            padding-right: 15px;
          }
          .sticky-container {
            position: relative;
            display: flex;
            align-items: flex-start;
          }
          .image-sticky {
            position: -webkit-sticky; /* Compatibilidad con navegadores */
            position: sticky;
            top: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            object-fit: cover;
            max-width: none;
                
            }
            .tituloapartado1pag2{
                font-family: "DUST", sans-serif; color: rgb(245, 110, 14);
                margin-top: 7rem;
                font-size: 130px ;
                margin-left: 4rem;
            }
            .subtituloapartado1pag2{
                font-family: "AMARILLO", sans-serif; color: rgb(255, 255, 255);
               font-size: 100px;
               margin-top: -3rem;
            }
            .parrafoapartado1pag2{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
                font-size: 20px; color: white;
                padding: 10px 50PX 10px; font-weight: lighter;
                text-align: left;

            }
            .tituloapartado1pag2tipo2{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
color: white;margin-top: 5rem; font-size: 50px;

            }
            .subtituloapartado1pag2tipo2{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
color: rgb(245, 110, 14);margin-top: -1rem; font-size: 70px; FON
            }